.main {
    height: 900px;
    width: 900px;
    margin: 0 auto;
}

.grey {
    height: 110px;
    width: 110px;
    background-color: gray;
    float: left;

}

.black {
    height: 110px;
    width: 110px;
    background-color: blanchedalmond;
    float: left;
}

.fa-solid {
    font-size: 50px;
    margin-left: 30px;
    margin-top: 30px;
}